//colors
  $white:#ffffff;
  $color-title :#1C1C1C;
  $grey:#545454;
  $lightgrey:#969696;
  $light-lightgrey: #E4E4E4;
  $red:#F83737;
  $blue:#007BFF;
  $black:#000000;
//font
 $font-primary: 'Inter', sans-serif;
//font-size
 $text-label: 15px;
 $text-prompt: 13px;
